<div class="inner-wrapper content-container">
    <div class="row">
        <div class="col-md-3">
            <div class="container-fluid box">
                <div ui-view="my-profile"></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container-fluid box">
                <div ui-view="notification"></div>
            </div>
            <div class="container-fluid doubleBox">
                <div ui-view="projects"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid box">
        <div ui-view="team"></div>
    </div>
</div>